<form [formGroup]="form">
  <div class="mb-3">
    <label for="street" class="form-label">Street</label>
    <input id="street" type="text" class="form-control" formControlName="street" />
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input id="city" type="text" class="form-control" formControlName="city" />
  </div>
  <div class="mb-3">
    <label for="state" class="form-label">State</label>
    <input id="state" type="text" class="form-control" formControlName="state" />
  </div>
  <div class="mb-3">
    <label for="zip" class="form-label">ZIP Code</label>
    <input id="zip" type="text" class="form-control" formControlName="zip" />
  </div>
  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input id="country" type="text" class="form-control" formControlName="country" />
  </div>
</form>
