<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th class="text-center">Quantity</th>
      <th class="text-end">Price</th>
      <th class="text-end">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track item.id) {
      <tr>
        <td>{{ item.productName }}</td>
        <td class="text-center">{{ item.quantity }}</td>
        <td class="text-end">{{ item.price | currency }}</td>
        <td class="text-end">{{ item.price * item.quantity | currency }}</td>
      </tr>
    }
  </tbody>
</table>
