<table class="table">
  <thead>
    <tr>
      <th>{{ i18n.translate('orders.product', 'Product') }}</th>
      <th class="text-center">{{ i18n.translate('orders.quantity', 'Quantity') }}</th>
      <th class="text-end">{{ i18n.translate('orders.price', 'Price') }}</th>
      <th class="text-end">{{ i18n.translate('orders.subtotal', 'Subtotal') }}</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track item.id) {
      <tr>
        <td>{{ item.productName }}</td>
        <td class="text-center">{{ item.quantity }}</td>
        <td class="text-end">{{ item.price | currency }}</td>
        <td class="text-end">{{ item.price * item.quantity | currency }}</td>
      </tr>
    }
  </tbody>
</table>
